<form class="form-container">
    <mat-card>
       <mat-card-header>
           <mat-card-title>Merchant Form</mat-card-title>
       </mat-card-header>
       
       <form class="form-container">
           <mat-card>
             <mat-card-header>
               <mat-card-title>Profile Information</mat-card-title>
             </mat-card-header>
             <mat-card-content>
               <div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
                 <div class="col-md-3">
                   <mat-form-field class="full-width">Merchant Code
                     <input matinput="" placeholder="Enter Mearchant Code">
                   </mat-form-field>
                 </div>
                 <div class="col-md-3">
                   <mat-form-field class="full-width">BRN
                     <input matinput="" placeholder="Enter BRN Number">
                   </mat-form-field>
                 </div>
                 <div class="col-md-3">
                   <mat-form-field class="full-width">Company Registration No
                       <input matinput="" placeholder="Company Registration No">
                     </mat-form-field>
                 </div>
               </div>
             </mat-card-content>
             <mat-card-content>
               <div class="d-flex align-items-center bg-light mb-3" style="height: 100px;">
                   <div class="col-md-3">
                     <mat-form-field class="full-width">VAT No
                       <input matinput="" placeholder="Enter VAT No">
                     </mat-form-field>
                   </div>
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Status
                       <input matinput="" placeholder="Select Status">
                     </mat-form-field>
                   </div>
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Legal Name
                         <input matinput="" placeholder="Enter Legal Name">
                       </mat-form-field>
                   </div>
                 </div>
   
             </mat-card-content>
   
             <mat-card-content>
               <div class="d-flex align-items-center bg-light mb-3" style="height: 100px;">
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Commercial Name
                       <input matinput="" placeholder="Enter Commercial Name">
                     </mat-form-field>
                   </div>
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Address 1
                       <input matinput="" placeholder="Enter Address">
                     </mat-form-field>
                   </div>
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Address 2
                         <input matinput="" placeholder="Enter Address">
                       </mat-form-field>
                   </div>
                 </div>
   
             </mat-card-content>
             <mat-card-content>
               <div class="d-flex align-items-center bg-light mb-3" style="height: 100px;">
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Address 3
                       <input matinput="" placeholder="Enter Address">
                     </mat-form-field>
                   </div>
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Merchant Contact Person
                       <input matinput="" placeholder="Enter Merchant Contact Person">
                     </mat-form-field>
                   </div>
                   <div class="col-md-3">
                     <mat-form-field class="full-width">Merchant Contact Details
                         <input matinput="" placeholder="Enter Merchant Contact Details">
                       </mat-form-field>
                   </div>
                 </div>
   
             </mat-card-content>
             <mat-card-actions>
               <button mat-raised-button="" color="primary">Save</button>
             </mat-card-actions>
           </mat-card>
         </form>
