mat-sidenav{
  background-color: #bdcff8;
  width: 230px;
  height: 100%;
}
mat-sidenav-content{
  height: 100vh;
  background-color: cadetblue;
}
mat-toolbar{
   margin-left : 15px;
   justify-content: space-between;
  }

  .box{
    margin-top: 15px;
  }

  .logo{
    text-align: center;
    padding: 2.6rem 1rem;
   
  }
  img{
    width: 200px;
  }
  .menu-head{
    color:#0e1927;
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
  .menu-button{
    display: block;
    width: 100%;
    position:relative;
    display: flex;
    padding-left: 40px;
    margin-bottom: 20px;
    background-color: #bdcff8 ;
    border: #bdcff8;
    gap: 10px;
    font-size: small;
  }
  .menu-button:hover{
    background-color: rgb(5, 110, 158);
}
.menu-button span{
  margin-left: 15px;
  color: #0e1927;
}
.menu-button:focus{
  background-color: rgb(5, 110, 158);;
}


  