<mat-sidenav-container class="container">
  <mat-sidenav #sidebar mode="side" opened="">
    <div class="navbar">
      <div class="logo py-4">
        <img src="../../assets/mu-cim-logo (1).webp" alt="Company Logo" />
         </div>

      <div class="menu">
        <div class="menu-head">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </div>

      <div class="menu-item">
        <button mat-button class="menu-button" [routerLink]="['/merchant']">
          <mat-icon>person</mat-icon>
          <span>Merchant</span>
        </button>

        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Charge Master</span>
        </button>
      </div>
      <div class="menu-head">
        <mat-icon>account_circle</mat-icon>
        <span>Admin</span>
      </div>

      <div class="menu-item">
        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>User Management</span>
        </button>

        <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile Management</span>
        </button>
      </div>
      </div>
      
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <div class="toolbar">
        <mat-toolbar>
          <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
          <div class="box">
            <mat-icon>subdirectory_arrow_left</mat-icon>Go Back
          </div>
        </mat-toolbar>
      </div>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>